.DS_STORE
/.vscode/
/npm-debug.log
/.idea/
/build/
/build*/
/node_modules/*
/dist/
/src/**/*.js
/src/**/*.d.ts
/src/**/*.js.map
!/src/vendor/**/*.js
/test/**/*.js
/test/**/*.d.ts
/test/**/*.js.map
/.awcache
