.DS_STORE
/.vscode/
/npm-debug.log
/.idea/
/build/
/build*/
/node_modules/*
/dist/
/src/**/*.js
/src/**/*.d.ts
/src/**/*.js.map
!/src/inspector/joint/vendor/**/*.js
/test/**/*.js
/test/**/*.d.ts
/test/**/*.js.map
/.awcache
/asyncmachine
examples/restaurant/.awcache/
examples/restaurant/am-demo.umd.js
examples/restaurant/index.js
examples/restaurant/node_modules/
examples/restaurant/schema.js
examples/restaurant/transitions.js
node_modules/
pkg/inspector/am-inspector.umd.js
pkg/inspector/node_modules/
pkg/logger/am-logger-remote.umd.js
pkg/logger/am-logger.umd.js
/pkg/logger/am-logger-remote.cjs.js
/pkg/logger/am-logger.cjs.js
/examples/remote-browser-logger/.awcache/
